$primary: #FEA11D;
$secondary: #0F172B;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

$navbar-dark-color:                 #f8f9fa;
$navbar-dark-hover-color:           #FEA11D;
$navbar-dark-active-color:          #FEA11D;

@import '../../node_modules/bootstrap/scss/bootstrap.scss'
